#root {
  background-image: url('https://images.unsplash.com/photo-1543165796-5426273eaab3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');
  background-repeat: no-repeat;
  background-size: cover;
  height: 1000px;
}

#app {
  padding-top: 50px
}

#wordList {
  background: black;
  opacity: 0.5
}

#button {
  border-radius: 10%;
  transition: all 300ms ease-in-out;
}

#button:hover {
  background: #D6F03E;
}

#words {
  background: blue
}