#app {
  padding-top: 50px;
}

#button {
  transition: all 300ms ease-in-out;
}

#button:hover {
  background: rgb(72, 212, 16);
}

#buttonText {
  overflow: hidden;
  text-overflow: ellipsis;
}

#root {
  background: rgb(90, 160, 207);
  height: 100vh;
}

#wordList {
  background: black;
  opacity: 0.5;
}

#wordButton {
  width: 150px;
}

.ui.grid>.row>.column {
  margin-top: 10px;
}

